
.submit {
   display: flex;
    gap: 10px;
   justify-content: center;
   width: 100%;
   margin-bottom: 5px;
}

.submit >input{
    width: 90%;
    border-radius:5px;
    border:0.5px solid black ;
    font-size: large;
    height: 40px;
    margin:0;
}

.submit  >input::placeholder{ 
    text-align: center;
}
.submit >button{
    width: 8%;
    font-size: large;
    border-radius: 5px;
    border-width: 0.5px;
}
.submit >button:hover{
    background-color: green;
    color: white;
}

.todo_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}